<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1 class="nam-giua mau-nen-xam chu-trang">CITIES</h1>

    <div class="div-cha">
        <div class="div-thu-nhat">
            <ul>
                <li>
                    <a href="">London</a>
                </li>
                <li>
                    <a href="">Paris</a>
                </li>
                <li>
                    <a href="">Tokyo</a>
                </li>
            </ul>
        </div>
        <div class="div-thu-hai">
            <h2>London</h2>
            <p>London is the capital city of England. It is the most populous city in the United Kingdom, with a
                metropolitan
                area of over 13 million inhabitants.</p>

            <p>Architecto voluptate velit repellendus fuga quae sint libero deserunt est, fugit perspiciatis tempora
                pariatur
                voluptatum asperiores aspernatur illum repudiandae enim nulla? Reprehenderit eum harum, est laboriosam
                veniam
                pariatur doloremque. Sequi?</p>
        </div>
    </div>




    <h3 class="nam-giua mau-nen-xam chu-trang">Footer</h3>
</body>

</html>