.div-cha {
    display: flex;
}

.div-thu-nhat {
    width: 25%;
    height: 100px;
    background-color: goldenrod;
}

.div-thu-hai {
    width: 75%;
    height: 100px;
    background-color: hotpink;
}