.Content {
    &__Sign-Up-Button {
        &--green-theme {
            background-color: green;
        }

        &--text-white {
            color: white;
        }

        &--font-size {
            font-size: 100px;
        }
    }
}